.table td,
.table th {
    padding: 4px !important;
}

.custeditbut {
    font-size: 12px !important;
}

.table {
    color: #000000 !important;
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link {
    color: #242b59 !important;
}

.error-text{
    color:red;
}
